*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: 'Raleway', sans-serif;
    width: auto;
    scroll-behavior: smooth;
}

/* Header --------------*/
header{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #FFF;
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 0px 0px 9px 0px #353535;
}
header img{
    width: 200px;
}

.header__container{
    background:	#DCDCDC;
    padding: 100px 0 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container h3{
    font-weight: 600;
    font-size: 20px;
}
.header__container i{
    padding-right: 20px;
}

.container__text{
    padding: 15px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#F2F2F2;
}
.container__text h3{
    font-size: 20px;
    font-weight: 900;
    margin: 15px 0;
}
.container__text h4{
    font-size: 17px;
    font-weight: 200;
}
.container__text input{
    font-size: 20px;
    margin: 17px 0;
    padding: 15px;
    font-weight: 600;
    color: white;
    border: transparent;
    background-image:linear-gradient(to top, #a05bdb, #e885dd);
    border-radius: 30px;
    box-shadow: 0px 0px 9px 0px #353535;
}

.container__fonction{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container__fonction .fonction__title{
    font-size: 17px;
    font-weight: 600;
    padding-right: 40px;
    padding-top: 20px;
}
.container__fonction .number{
    background-color: #9356dc;
    color: white;
    border-radius: 20px 20px;
    height: 20px;
    width: 20px;
    margin-left: -60px;
    margin-right: 15px;
    padding: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-left: none;
}
.container__fonction .fonction__text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    font-weight: 600;
    margin-right: 25px;
    border-left: none;
    padding-right: 15px;
    box-shadow: 0px 0px 15px 0px #DCDCDC;
}
.container__fonction .fonction__text:hover{
    background-color: #f5ecff ;
}
.container__fonction .fonction__text i{
    padding-right: 25px;
    color: #353535;
}
.container__fonction .fonction__text:hover i{
    color: #9356dc;
}

/* Partie restaurants ------*/

.container__restaurant{
    background-color: #F2F2F2;
    margin-top: 100px;
    padding: 0 0 80px 0;
}
.restaurant__title{
    padding-left: 40px;
    padding-top: 40px;
}
.restaurant__cards{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}
.card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 340px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 9px 0px #353535;
}
.card__image img {
    width: 340px;
    height: 170px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.card__image .new_mark{
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    color: #278870;
    background-color: #99E2D0;
    margin-top: -160px;
    margin-left: 240px;
}

.card__title {
    padding: 10px 0 20px 20px;
}
.card__title a{
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.card__title p{
    margin: 0;
    padding-top: 10px;
}
.card__title i{
    padding-left: 130px;
}
.card__title .heart{
    padding-left: 170px;
}
.card__title .fa-heart:hover{
    color: linear-gradient(#a05bdb,#e885dd);
    animation: opacity 500ms 0ms linear both;
}

/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#353535;
    padding: 20px 0 40px 0;
    width: auto;
    color: white;
}

.end img{
    padding-bottom: 10px;
}
.end p{
    padding-top: 10px;
}

/* Media queries -------------*/

@media screen and (min-width: 375px) and (max-width: 700px){
    body{
        width: auto;
    }
    header{
        width: 345px;
        position: absolute;
    }
    .header__container i{
        font-size: 15px;
        padding: 0 13px 2px 0;
    }
    .header__container h3{
        font-size: 17px;
    }
    main{
        width: 375px;
    }
    .container__text{
        width: 375px;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container__text h3{
        font-size: 23px;
        margin: 0;
        padding: 10px 70px 5px 80px;
    }
    .container__text h4{
        padding: 10px 0 5px 40px;
    }
    .container__text input{
        font-size: 17px;
        margin-top: 25px;
    }
    .container__fonction{
        flex-direction: column;
        width: 345px;
        padding: 15px 0 0 25px;
    }
    .container__fonction .fonction__title h2{
        padding: 10px 0 20px 0;
        font-size: 21px;
    }
    .container__fonction .fonction__text{
        margin: 12px 30px 15px 15px;
        width: 280px;
    }

    .container__restaurant{
        width: 375px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .restaurant__title{
        display: flex;
        flex-direction: column;
        padding: 30px 0 20px 20px;
    }
    .restaurant__title h2{
        font-size: 21px;
    }
    .restaurant__cards{
        flex-direction: column;
        padding: 20px 10px 0 0;
    }
    .restaurant__cards .card{
        width: 320px;
        height: 225px;
        border-radius: 20px;
        padding: 0;
        margin: 10px;
    }
    .card__image img{
        width: 320px;
        height: 160px;
        border-radius: 20px 20px 0 0;
    }
    .card__image .new_mark{
        margin-top: -150px;
        margin-left: 220px;
    }
    .card__title i{
        padding-left: 120px;
    }
    .card__title .heart{
        padding-left: 157px;
    }

    .page-end{
        width: 375px;
        margin: 0;
        display: block;
    }
    .page-end .end{
        font-size: 15px;
        padding-left: 20px;
    }
    .page-end .end img{
        width: 130px;
        padding: 20px 0 10px 0;
    }
    .end i{
        padding-right: 6px;
    }
}


@media only screen and (min-width: 720px) and (max-width: 1200px)
{
    body{
        width: 1438px;
    }
    .menu-txt{
        float: right;
    }


    .populaire{
        width: 400px;
    }

    .card-first{
        width: 335px;
        height: 165px;
    }

    .card1{
        width: 335px;
        height: 165px;
    }

    .card1-p1 img{
        width: 170px;
        height: 160px;
    }



    .carte-a{
        width: 300px;
        height: 455px;
    }

    .carte-a img {
        width: 300px;
        height: 390px;
    }


    .pomegues{
        width: 300px;
        height: 230px;
    }

    .pomegues1 img{
        width: 300px;
        height: 180px;
    }


    .frioul {
        width: 300px;
        height: 180px;
    }

    .frioul1 img{
        width: 300px;
        height: 135px;
    }


    .notre-dame{
        width: 300px;
        height: 180px;
    }

    .notre-dame1 img{
        width: 300px;
        height: 135px;
    }


    .parc{
        width: 300px;
        height: 230px;
    }

    .parc1 img{
        width: 300px;
        height: 180px;
    }

}
