body{
    font-family: 'Raleway', sans-serif;
    padding: 0 0;
    margin: 0 0;
}

html{
    scroll-behavior: smooth;
}
/* Header --------------*/

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.place{
    display: flex;
    justify-content: center;
    align-items: center;
    background:	#DCDCDC;
    padding: 15px 0 15px 0;
}
.place p{
    font-weight: 600;
    font-size: 25px;
}
.place i{
    padding-right: 20px;
}

.container-text{
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#F2F2F2;
}
.container-text .text-1{
    font-size: 30px;
    font-weight: 900;
}
.container-text .text-2{
    font-size: 27px;
    font-weight: 400;
}
.container-text .text-3{
    font-size: 23px;
    font-weight: 600;
    color: white;
    background-image:linear-gradient(#e885dd, #a05bdb);
    box-shadow: 0px 0px 30px;
    border-radius: 90px 90px 90px 90px;
    padding: 8px 10px 8px 10px;
}

.container-fonction{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-fonction .fonction__title{
    font-size: 25px;
    font-weight: 600;
    padding-right: 40px;
}
.container-fonction .number{
    background-color: #9356dc;
    color: white;
    margin-right: 35px;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 20px 20px;
}
.container-fonction .fonction__text-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    background-color: #F2F2F2;
    width: 300px;
    border-radius: 30px 30px 30px 30px;
    font-weight: 600;
    padding-right: 20px;
}
.container-fonction .fonction__text-1:hover{
    background-color: #f5ecff ;
}
.container-fonction .fonction__text-1 i{
    padding-right: 25px;
    color: #DCDCDC;
}
.container-fonction .fonction__text-1 i:hover{
    color: #9356dc;
}
.container-fonction .fonction__text-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    background-color: #F2F2F2;
    width: 300px;
    border-radius: 25px 25px 25px 25px;
    font-weight: 600;
    padding-right: 20px;
}
.container-fonction .fonction__text-2:hover{
    background-color: #f5ecff ;
}
.container-fonction .fonction__text-2 i{
    padding-right: 25px;
    color: #DCDCDC;
}
.container-fonction .fonction__text-2 i:hover{
    color: #9356dc;
}
.container-fonction .fonction__text-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    background-color: #F2F2F2;
    width: 300px;
    border-radius: 25px 25px 25px 25px;
    font-weight: 600;
    padding-right: 20px;
}
.container-fonction .fonction__text-3:hover{
    background-color: #f5ecff ;
}
.container-fonction .fonction__text-3 i{
    padding-right: 25px;
    color: #DCDCDC;
}
.container-fonction .fonction__text-3 i:hover{
    color: #9356dc;
}
/* Partie restaurants ------*/

.container-restaurant{
    background-color: #F2F2F2;
    margin-top: 100px;
}
.restaurant__title{
    padding-left: 40px;
    padding-top: 40px;
}
.restaurant__cards{
    display: flex;
    flex-direction: row;
}

.card-p1 img {
    width: 250px;
    height: 140px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}


.card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 256px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.card-p2 {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 20px;
}
.card-p2 a{
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding-top: 15px;
}
.card-p2 p{
    margin: 0;
    padding-top: 15px;
}
.card-p2 i{
    padding-left: 50px;
}
.card-p2 .heart{
    padding-left: 70px;
}
.card-p2 i:hover{
    color: linear-gradient(#a05bdb,#e885dd);
}

/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    background:#353535;
    padding-left: 40px;
    padding-top: 30px;
    height: 250px;
    color: white;
}



/* Media queries -------------*/

@media screen and (min-width: 375px) and (max-width: 700px){
    body{
        width: 100vh;
    }
    header{
        width: 1250px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        box-shadow: 0 0 70px;
    }
    .logo img{
        padding-top: 20px;
        width: 500px;
    }
    .place p{
        font-size: 8vh;
        padding-left: 20px;
    }
    .place i{
        font-size: 8vh;
    }
    .container-text{
        width: 1250px;
        padding-bottom: 90px;
    }
    .container-text .text-1 p{
        font-size: 10vh;
        width: 700px;
        margin: 0;
        display: flex;
        align-items: center;
        padding-top: 70px;
    }
    .container-text .text-2 p{
        font-size: 8vh;
        width: 1000px;
        margin: 0;
        padding-top: 40px;
    }
    .container-text .text-3 p{
        font-size: 7vh;
    }
    .container-text .text-3{
        margin-top: 80px;
        border-radius: 90px 90px 90px 90px;
        padding: 8px 50px;
        box-shadow: 50px 50px 50px 50px;
    }

    .container-fonction{
        flex-direction: column;
        padding-left: 50px;
        width: 1200px;
    }
    .fonction__title p{
        font-size: 9vh;
    }
    .fonction__text-1{
        font-size: 8vh;
        width: 900px;
    }
    .fonction__text-2{
        font-size: 8vh;
        width: 900px;
    }
    .fonction__text-3{
        font-size: 8vh;
        width: 900px;
    }
    .container-restaurant{
        width: 1250px;
        padding-bottom: 50px;
    }
    .restaurant__title{
        display: flex;
        flex-direction: column;
    }
    .restaurant__title h2{
        font-size: 9vh;
    }
    .restaurant__cards{
        flex-direction: column;
        padding-top: 20px;
    }
    .restaurant__cards .card{
        width: 1100px;
        height: 520px;
        margin-top: 40px;
        margin-right: 30px;
        border-radius: 50px 50px;
    }
    .card .card-p1 img{
        width: 1100px;
        height: 350px;
        border-radius: 50px 50px 0 0;
    }
    .card .card-p2 a{
        font-size: 7vh;
        padding-top: 15px;
        padding-left: 15px;
    }
    .card .card-p2 p{
        font-size: 6vh;
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .card .card-p2 i{
        padding-left: 540px;
        font-size: 8vh;
        padding-top: 20px;
    }
    .card-p2 .heart{
        margin-left: 100px;
    }
    .page-end{
        width: 1200px;
        height: 500px;
        margin: 0;
    }
    .page-end .end{
        font-size: 6vh;
        padding-left: 40px;
    }
    .page-end .end img{
        width: 300px;
        padding-top: 30px;
        color: white;
    }
}


@media only screen and (min-width: 720px) and (max-width: 1200px)
{
    body{
        width: 1438px;
    }
    .menu-txt{
        float: right;
    }


    .populaire{
        width: 400px;
    }

    .card-first{
        width: 335px;
        height: 165px;
    }

    .card1{
        width: 335px;
        height: 165px;
    }

    .card1-p1 img{
        width: 170px;
        height: 160px;
    }



    .carte-a{
        width: 300px;
        height: 455px;
    }

    .carte-a img {
        width: 300px;
        height: 390px;
    }


    .pomegues{
        width: 300px;
        height: 230px;
    }

    .pomegues1 img{
        width: 300px;
        height: 180px;
    }


    .frioul {
        width: 300px;
        height: 180px;
    }

    .frioul1 img{
        width: 300px;
        height: 135px;
    }


    .notre-dame{
        width: 300px;
        height: 180px;
    }

    .notre-dame1 img{
        width: 300px;
        height: 135px;
    }


    .parc{
        width: 300px;
        height: 230px;
    }

    .parc1 img{
        width: 300px;
        height: 180px;
    }

}
