*{
    margin: 0rem;
    padding: 0rem;
}

html, body{
    font-family: 'Roboto', sans-serif;
    width: auto;
    scroll-behavior: smooth;
}

$Blanc: #fff;
$Shadow: #353535;
$Icon: #292929;
$Bg: #f2f2f2;
$Gris: #DCDCDC;
$Violet: #9356DC;
$Rose: #FF79DA;
$Vert: #99e2d0;
$GreyF: #848484;

/* Header -----------*/

header {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.9375rem;
    background-color: $Blanc;
    width: 100%;
    height: 3.125rem;
    position: fixed;
    box-shadow: 0rem 0rem 0.5625rem 0rem $Shadow;
        img {
        width: 12.5rem;
    }
        i {
        padding: 2.5rem 3.125rem;
        font-size: 4vh;
        color: $Icon;
    }
        & i:hover{
        background-color: $Icon;
        padding: 0.9375rem;
        margin: 2.1875rem;
        color: $Blanc;
        border-radius: 1.875rem;
    }
}

main {
    img{
        width: 70%;
        height: 25rem;
    }
    .bg-menu{
        display: flex;
        justify-content: center;
    }
}

.container__menus {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 3.125rem;
    background-color: $Bg;
    height: 25rem;
    border-radius: 2.5rem 2.5rem 0 0;
    .menu__title{
        display: flex;
        flex-direction: row;
        font-family: 'Shrikhand', cursive;
        padding: .625rem 0;
    }
}

.menu__like {
    float: right;
      .fa-heart {
        font-size: 1.5625rem;
        transform: scale(1);
        transition-property: transform;
        cursor: pointer;
        transition: 0.5s;
        color: $Gris;
        margin: .375rem 0 0 1.25rem;
        &:hover {
            background: -webkit-linear-gradient($Violet,$Rose);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition-duration: 400ms;
            animation: animateHeart .4s;
          }
      }
}

  @keyframes animateHeart {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
  }


.menu__starter{
    padding-left: 2.5rem;
    padding-top: 1.25rem;
    animation-delay: 0.66667s;
    h3{
        padding-top: .625rem;
        font-weight: 400;
        color: $GreyF;
    }
    .fil{
        height: .1875rem;
        width: 3.125rem;
        background-color: $Vert;
    }
}

.menu__starter-card{
    background: $Blanc;
    box-shadow: 0rem 0rem .9375rem 0rem $Gris;
    border-radius: .625rem;
    width: 18.75rem;
    padding: .625rem 0rem .8125rem .6875rem;
    margin-top: 1.875rem;
    overflow: hidden;
    cursor: pointer;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
  }
  @keyframes fadein{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

.menu__starter-card {
    .menu__plats{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 12.5rem;
        overflow: hidden;
    }
    .menu__plats2{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 15rem;
        overflow: hidden;
    }
    .menu__price{
        float: right;
        margin-right: 1.25rem;
        font-weight: 600;
        width: 2.5rem;
        margin-top: -1.2rem;
     }
}

.menu__starter-card:hover .menu__price{
    transition: all .5s ease-in;
    transform: translateX(-140%);
}
.menu__starter-card:hover .menu__plats{
    width: 10.625rem;
    transition: all .5s ease-in;
}
.menu__starter-card:hover .menu__plats2{
    width: 10.625rem;
    transition: all .5s ease-in;
}
.menu__starter-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__starter-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}
.menu__animation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Vert;
    color: $Blanc;
    font-size: 1.25rem;
    height: 3.6875rem;
    width: 5rem;
    border-radius: 0rem .625rem .625rem 0rem;
    float: right;
    margin: -2.9rem 0 0 18.75rem;
    transition-duration: .5s;
    transform-origin: right;
    visibility: hidden;
}

.menu__dish{
    padding-left: 2.5rem;
    padding-top: 1.25rem;
    h3{
        padding-top: .625rem;
        font-weight: 400;
        color: $GreyF;
    }
    .fil{
        height: .1875rem;
        width: 3.125rem;
        background-color: $Vert;
    }
}

.menu__dish-card{
    background: white;
    box-shadow: 0rem 0rem .9375rem 0rem $Gris;
    border-radius: .625rem;
    width: 18.75rem;
    padding: .625rem 0rem .8125rem .6875rem;
    margin-top: 1.875rem;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__dish-card {
    .menu__plats{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 12.5rem;
        overflow: hidden;
    }
    .menu__plats2{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 14.375rem;
        overflow: hidden;
    }
    .menu__price{
        float: right;
        margin-right: 1.25rem;
        font-weight: 600;
        width: 2.5rem;
        margin-top: -1.2rem;
     }
}

.menu__dish-card:hover .menu__price{
    transition: all .5s ease-in;
    transform: translateX(-140%);
}
.menu__dish-card:hover .menu__plats{
    width: 10.625rem;
    transition: all .5s ease-in;
}
.menu__dish-card:hover .menu__plats2{
    width: 10.625rem;
    transition: all .5s ease-in;
}
.menu__dish-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__dish-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}


.menu__dessert{
    padding-left: 2.5rem;
    padding-top: 1.25rem;
    h3{
        padding-top: .625rem;
        font-weight: 400;
        color: $GreyF;
    }
    .fil{
        height: .1875rem;
        width: 3.125rem;
        background-color: $Vert;
    }
}

.menu__dessert-card{
    background:$Blanc;
    box-shadow: 0rem 0rem .9375rem 0rem $Gris;
    border-radius: .625rem;
    width: 18.75rem;
    padding: .625rem 0rem .8125rem .6875rem;
    margin-top: 1.875rem;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__dessert-card {
    .menu__plats{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 12.5rem;
        overflow: hidden;
    }
    .menu__plats2{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 15rem;
        overflow: hidden;
    }
    .menu__price{
        float: right;
        margin-right: 1.25rem;
        font-weight: 600;
        width: 2.5rem;
        margin-top: -1.2rem;
     }
}

.menu__dessert-card:hover .menu__price{
    transition: all .5s ease-in;
    transform: translateX(-140%);
}
.menu__dessert-card:hover .menu__plats{
    width: 10.625rem;
    transition: all .5s ease-in;
}
.menu__dessert-card:hover .menu__plats2{
    width: 10.625rem;
    transition: all .5s ease-in;
}
.menu__dessert-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__dessert-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.text-3{
    display: flex;
    justify-content: center;
    padding: 0 0 2.5rem 0;
    background-color: $Bg;
    input{
        font-size: 1.0625rem;
        margin-top: 2.1875rem;
        width: 11.25rem;
        padding: .9375rem;
        font-weight: 600;
        color: $Blanc;
        border: transparent;
        background-image:linear-gradient(to top, $Violet, $Rose);
        border-radius: 1.875rem;
        box-shadow: 0rem 0rem .5625rem 0rem $Shadow;
            &:hover{
                opacity: .8;
                box-shadow: 0rem 0rem .6875rem 0rem $Shadow;
            }
    }
}

/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:$Shadow;
    padding: 1.25rem 0 2.5rem 0;
    width: auto;
    color: $Blanc;
    .end{
        img{
            padding-bottom: .625rem;
        }
        p{
            padding-top: .625rem;
        }
        a{
            text-decoration: none;
            color:$Blanc;
        }

    }
}

@media screen and (min-width: 375px) and (max-width: 700px){
    body {
        width: auto;
    }

    main {
        width: auto;
    }
    header {
        width: 21.5625rem;
        display: block;
        img{
            padding: .625rem 0 0 3.75rem;
            width: 9.375rem;
        }
        i {
            padding: 0 0 4.375rem .625rem;
                &:hover{
                    margin: .9375rem;
                    padding: .5rem;
                }
        }
    }

    main img {
        width: 23.4375rem;
    }

    .container__menus{
        flex-direction: column;
        height: 68.75rem;
        width: 22.1875rem;
        border-radius: 3.75rem 3.75rem 0 0;
        padding: .625rem 0 0 1.25rem;
        margin-top: -3.5rem;
        .menu__title{
            font-size: 1.25rem;
            padding-top: .625rem;
            .menu__like{
                padding-top: .3125rem;
                padding-left: .375rem;
            }
        }
    }

    .menu__starter {
        padding-left: 0;
        h3{
            font-size: 1.25rem;
            margin: 0;
        }
    }
    .menu__starter-card{
        border-radius: .9375rem;
        width: 20rem;
        margin-top: 1.25rem;
        padding: .8125rem .625rem;
        .menu__plats{
            font-size: 1rem;
            margin: 0;
            padding: .3125rem 0;
            width: 15rem;
        }
        .menu__plats2{
            font-size: 1rem;
        }
        .menu__price{
            font-size: 1rem;
            margin-top: -1rem;
         }
    }

    .menu__starter-card:hover .menu__price{
        transform: translateX(-180%);
    }
    .menu__starter-card .menu__animation{
        height: 4.6875rem;
        margin: -3.7rem 0 0 20.625rem;
        border-radius: 0rem .9375rem .9375rem 0rem;
    }

    .menu__dish{
        padding-left: 0;
        h3{
            font-size: 1.25rem;
            margin: 0;
        }
    }
    .menu__dish-card{
        border-radius: .9375rem;
        width: 20rem;
        margin-top: 1.25rem;
        padding: .8125rem .625rem;
        .menu__plats{
            font-size: 1rem;
            margin: 0;
            padding: .3125rem 0;
            width: 15rem;
        }
        .menu__plats2{
            font-size: 1rem;
        }
        .menu__price{
            font-size: 1rem;
            margin-top: -1rem;
         }
    }
    .menu__dish-card:hover .menu__price{
        transform: translateX(-180%);
    }
    .menu__dish-card .menu__animation{
        height: 4.6875rem;
        margin: -3.7rem 0 0 20.625rem;
        border-radius: 0rem .9375rem .9375rem 0rem;
    }


    .menu__dessert{
        padding-left: 0;
        h3{
            font-size: 1.25rem;
            margin: 0;
        }
    }

    .menu__dessert-card{
        border-radius: .9375rem;
        width: 20rem;
        margin-top: 1.25rem;
        padding: .8125rem .625rem;
        .menu__plats{
            font-size: 1rem;
            margin: 0;
            padding: .3125rem 0;
            width: 15rem;
        }
        .menu__plats2{
            font-size: 1rem;
        }
        .menu__price{
            font-size: 1rem;
            margin-top: -1rem;
         }
    }

    .menu__dessert-card:hover .menu__price{
        transform: translateX(-180%);
    }
    .menu__dessert-card .menu__animation{
        height: 4.6875rem;
        margin: -3.7rem 0 0 20.625rem;
        border-radius: 0rem .9375rem .9375rem 0rem;
    }

    .text-3 {
        padding: 6.25rem 0 1.875rem;
    }

    .page-end {
        width: 23.4375rem;
        margin: 0;
        display: block;
        .end {
            font-size: .9375rem;
            padding-left: 1.25rem;
            img { 
                width: 8.125rem;
                padding: 1.25rem 0 .625rem 0;
            }
            i {
             padding-right: .375rem;
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px){
    body{
        width: auto;
    }

    main{
        width: auto;
    }
    header{
        width: 46.125rem;
        position: fixed;
    }
    main img{
        width: 48.125rem;
    }
    .container__menus{
        flex-direction: column;
        width: auto;
        height: 87.5rem;
        padding: 0 0 0 1.25rem;
        margin: 0;
        .menu__title{
            font-size: 1.5625rem;
            padding: 1.25rem 2.1875rem;
        }
    }

    .menu__like .fa-heart{
        padding-left: 3.125rem;
        padding-top: .4375rem;
        font-size: 1.875rem;
    }
    .menu__starter{
        padding-top: .625rem;
        h3{
            font-size: 1.5625rem;
        }
    }

    .menu__starter-card {
        width: 37.5rem;
        .menu__plats {
            font-size: 1.5625rem;
            width: 31.25rem;
        }
        .menu__plats2 {
            font-size: 1.5625rem;
            width: 31.25rem;
        }
        .menu__price {
            font-size: 1.25rem;
        }
        .menu__animation {
            width: 6.25rem;
            height: 6.25rem;
            margin: -4.9rem 0 0 37.8125rem;
        }
    }
    .menu__starter-card:hover .menu__plats{
        width: 31.25rem;
    }
    .menu__starter-card:hover .menu__plats2{
        width: 31.25rem;
    }
    .menu__starter-card:hover .menu__price{
        transform: translateX(-200%);
    }
    .menu__starter-card:hover .menu__animation .menu__animation--circle {
        font-size: 1.6875rem;
    }

    .menu__dish {
        padding-top: .625rem;
        h3{
            font-size: 1.5625rem;
        }
    }

    .menu__dish-card {
        width: 37.5rem;
        .menu__plats{
            font-size: 1.5625rem;
            width: 31.25rem;
        }
        .menu__plats2{
            font-size: 1.5625rem;
            width: 31.25rem;
        }
        .menu__price{
            font-size: 1.25rem;
         }
         .menu__animation{
            width: 6.25rem;
            height: 6.25rem;
            margin: -4.9rem 0 0 37.8125rem;
        }
    }
    .menu__dish-card:hover .menu__plats{
        width: 31.25rem;
    }
    .menu__dish-card:hover .menu__plats2{
        width: 31.25rem;
    }
    .menu__dish-card:hover .menu__price{
        transform: translateX(-200%);
    }
    .menu__dish-card:hover .menu__animation .menu__animation--circle {
        font-size: 1.6875rem;
    }

    .menu__dessert{
        padding-top: .625rem;
        h3{
            font-size: 1.5625rem;
        }
    }
    .menu__dessert-card{
        width: 37.5rem;
        .menu__plats{
            font-size: 1.5625rem;
            width: 31.25rem;
        }
        .menu__plats2{
            font-size: 1.5625rem;
            width: 31.25rem;
        }
        .menu__price{
            font-size: 1.25rem;
        }
        .menu__animation{
            width: 6.25rem;
            height: 6.25rem;
            margin: -4.9rem 0 0 37.8125rem;
        }
    }
    .menu__dessert-card:hover .menu__plats{
        width: 31.25rem;
    }
    .menu__dessert-card:hover .menu__plats2{
        width: 31.25rem;
    }
    .menu__dessert-card:hover .menu__price{
        transform: translateX(-200%);
    }
    .menu__dessert-card:hover .menu__animation .menu__animation--circle {
        font-size: 1.6875rem;
    }

    .text-3{
        padding: 4.375rem 0;
        input{
            font-size: 1.875rem;
            width: 14.375rem;
        }
    }

    .page-end{
        width: 48rem;
        display: flex;
        .end{
            font-size: 1.5625rem;
            padding-left: 1.25rem;
            img{
                width: 12.5rem;
                padding: 1.0625rem 0 .625rem 0;
            }
            i{
                padding-right: .375rem;
            }
        }
    }
}
