*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: 'Roboto', sans-serif;
    width: auto;
    scroll-behavior: smooth;
}

$Blanc: #fff;
$Shadow: #353535;
$Icon: #292929;
$Bg: #f2f2f2;
$Gris: #DCDCDC;
$Violet: #9356DC;
$Rose: #FF79DA;
$Vert: #99e2d0;
$GreyF: #848484;

/* Header -----------*/

header {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    background-color: $Blanc;
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 0px 0px 9px 0px $Shadow;
        img {
        width: 200px;
    }
        i {
        padding: 40px 50px;
        font-size: 4vh;
        color: $Icon;
    }
        & i:hover{
        background-color: $Icon;
        padding: 15px;
        margin: 35px;
        color: $Blanc;
        border-radius: 30px;
    }
}

main {
    img{
        width: 70%;
        height: 400px;
    }
    .bg-menu{
        display: flex;
        justify-content: center;
    }
}

.container__menus {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    background-color: $Bg;
    height: 400px;
    border-radius: 40px 40px 0 0;
    .menu__title{
        display: flex;
        flex-direction: row;
        font-family: 'Shrikhand', cursive;
        padding: 10px 0;
    }
}

.menu__like {
    float: right;
      .fa-heart {
        font-size: 25px;
        transform: scale(1);
        transition-property: transform;
        cursor: pointer;
        transition: 0.5s;
        color: $Gris;
        margin: 6px 0 0 20px;
        &:hover {
            background: -webkit-linear-gradient($Violet,$Rose);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition-duration: 400ms;
            animation: animateHeart .4s;
          }
      }
}

  @keyframes animateHeart {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
  }


.menu__starter{
    padding-left: 40px;
    padding-top: 20px;
    animation-delay: 0.66667s;
    h3{
        padding-top: 10px;
        font-weight: 400;
        color: $GreyF;
    }
    .fil{
        height: 3px;
        width: 50px;
        background-color: $Vert;
    }
}

.menu__starter-card{
    background: $Blanc;
    box-shadow: 0px 0px 15px 0px $Gris;
    border-radius: 10px;
    width: 300px;
    padding: 10px 0px 13px 11px;
    margin-top: 30px;
    overflow: hidden;
    cursor: pointer;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
  }
  @keyframes fadein{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

.menu__starter-card {
    .menu__plats{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        overflow: hidden;
    }
    .menu__plats2{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 240px;
        overflow: hidden;
    }
    .menu__price{
        float: right;
        margin-right: 20px;
        font-weight: 600;
        width: 40px;
        margin-top: -1.2rem;
     }
}

.menu__starter-card:hover .menu__price{
    transition: all .5s ease-in;
    transform: translateX(-140%);
}
.menu__starter-card:hover .menu__plats{
    width: 170px;
    transition: all .5s ease-in;
}
.menu__starter-card:hover .menu__plats2{
    width: 170px;
    transition: all .5s ease-in;
}
.menu__starter-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__starter-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}
.menu__animation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Vert;
    color: $Blanc;
    font-size: 20px;
    height: 59px;
    width: 80px;
    border-radius: 0px 10px 10px 0px;
    float: right;
    margin: -2.9rem 0 0 300px;
    transition-duration: .5s;
    transform-origin: right;
    visibility: hidden;
}

.menu__dish{
    padding-left: 40px;
    padding-top: 20px;
    h3{
        padding-top: 10px;
        font-weight: 400;
        color: $GreyF;
    }
    .fil{
        height: 3px;
        width: 50px;
        background-color: $Vert;
    }
}

.menu__dish-card{
    background: white;
    box-shadow: 0px 0px 15px 0px $Gris;
    border-radius: 10px;
    width: 300px;
    padding: 10px 0px 13px 11px;
    margin-top: 30px;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__dish-card {
    .menu__plats{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        overflow: hidden;
    }
    .menu__plats2{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 230px;
        overflow: hidden;
    }
    .menu__price{
        float: right;
        margin-right: 20px;
        font-weight: 600;
        width: 40px;
        margin-top: -1.2rem;
     }
}

.menu__dish-card:hover .menu__price{
    transition: all .5s ease-in;
    transform: translateX(-140%);
}
.menu__dish-card:hover .menu__plats{
    width: 170px;
    transition: all .5s ease-in;
}
.menu__dish-card:hover .menu__plats2{
    width: 170px;
    transition: all .5s ease-in;
}
.menu__dish-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__dish-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}


.menu__dessert{
    padding-left: 40px;
    padding-top: 20px;
    h3{
        padding-top: 10px;
        font-weight: 400;
        color: $GreyF;
    }
    .fil{
        height: 3px;
        width: 50px;
        background-color: $Vert;
    }
}

.menu__dessert-card{
    background: white;
    box-shadow: 0px 0px 15px 0px $Gris;
    border-radius: 10px;
    width: 300px;
    padding: 10px 0px 13px 11px;
    margin-top: 30px;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__dessert-card {
    .menu__plats{
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 200px;
        overflow: hidden;
    }
    .menu__plats2{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 240px;
        overflow: hidden;
    }
    .menu__price{
        float: right;
        margin-right: 20px;
        font-weight: 600;
        width: 40px;
        margin-top: -1.2rem;
     }
}

.menu__dessert-card:hover .menu__price{
    transition: all .5s ease-in;
    transform: translateX(-140%);
}
.menu__dessert-card:hover .menu__plats{
    width: 170px;
    transition: all .5s ease-in;
}
.menu__dessert-card:hover .menu__plats2{
    width: 170px;
    transition: all .5s ease-in;
}
.menu__dessert-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__dessert-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.text-3{
    display: flex;
    justify-content: center;
    padding: 0 0 40px 0;
    background-color: $Bg;
    margin-top: -20px;
    input{
        font-size: 17px;
        margin-top: 35px;
        width: 180px;
        padding: 15px;
        font-weight: 600;
        color: white;
        border: transparent;
        background-image:linear-gradient(to top, $Violet, $Rose);
        border-radius: 30px;
        box-shadow: 0px 0px 9px 0px $Shadow;
            &:hover{
                opacity: .8;
                box-shadow: 0px 0px 11px 0px $Shadow;
            }
    }
}

/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:$Shadow;
    padding: 20px 0 40px 0;
    width: auto;
    color: $Blanc;
    .end{
        img{
            padding-bottom: 10px;
        }
        p{
            padding-top: 10px;
        }
        a{
            text-decoration: none;
            color:$Blanc;
        }

    }
}

@media screen and (min-width: 375px) and (max-width: 700px){
    body {
        width: auto;
    }

    main {
        width: auto;
    }
    header {
        width: 345px;
        display: block;
        img{
            padding: 10px 0 0 60px;
            width: 150px;
        }
        i {
            padding: 0 0 70px 10px;
                &:hover{
                    margin: 15px;
                    padding: 8px;
                }
        }
    }

    main img {
        width: 375px;
    }

    .container__menus{
        flex-direction: column;
        height: 1100px;
        width: 355px;
        border-radius: 60px 60px 0 0;
        padding: 10px 0 0 20px;
        margin-top: -3.5rem;
        .menu__title{
            font-size: 20px;
            padding-top: 10px;
            .menu__like{
                padding-top: 5px;
                padding-left: 6px;
            }
        }
    }

    .menu__starter {
        padding-left: 0;
        h3{
            font-size: 20px;
            margin: 0;
        }
    }
    .menu__starter-card{
        border-radius: 15px;
        width: 320px;
        margin-top: 20px;
        padding: 13px 10px;
        .menu__plats{
            font-size: 16px;
            margin: 0;
            padding: 5px 0;
            width: 240px;
        }
        .menu__plats2{
            font-size: 16px;
        }
        .menu__price{
            font-size: 16px;
            margin-top: -1rem;
         }
    }

    .menu__starter-card:hover .menu__price{
        transform: translateX(-180%);
    }
    .menu__starter-card .menu__animation{
        height: 75px;
        margin: -3.7rem 0 0 330px;
        border-radius: 0px 15px 15px 0px;
    }

    .menu__dish{
        padding-left: 0;
        h3{
            font-size: 20px;
            margin: 0;
        }
    }
    .menu__dish-card{
        border-radius: 15px;
        width: 320px;
        margin-top: 20px;
        padding: 13px 10px;
        .menu__plats{
            font-size: 16px;
            margin: 0;
            padding: 5px 0;
            width: 240px;
        }
        .menu__plats2{
            font-size: 16px;
        }
        .menu__price{
            font-size: 16px;
            margin-top: -1rem;
         }
    }
    .menu__dish-card:hover .menu__price{
        transform: translateX(-180%);
    }
    .menu__dish-card .menu__animation{
        height: 75px;
        margin: -3.7rem 0 0 330px;
        border-radius: 0px 15px 15px 0px;
    }


    .menu__dessert{
        padding-left: 0;
        h3{
            font-size: 20px;
            margin: 0;
        }
    }

    .menu__dessert-card{
        border-radius: 15px;
        width: 320px;
        margin-top: 20px;
        padding: 13px 10px;
        .menu__plats{
            font-size: 16px;
            margin: 0;
            padding: 5px 0;
            width: 240px;
        }
        .menu__plats2{
            font-size: 16px;
        }
        .menu__price{
            font-size: 16px;
            margin-top: -1rem;
         }
    }

    .menu__dessert-card:hover .menu__price{
        transform: translateX(-180%);
    }
    .menu__dessert-card .menu__animation{
        height: 75px;
        margin: -3.7rem 0 0 330px;
        border-radius: 0px 15px 15px 0px;
    }

    .text-3{
        padding: 100px 0 30px;
    }

    .page-end{
        width: 375px;
        margin: 0;
        display: block;
        .end{
            font-size: 15px;
            padding-left: 20px;
            img{
                width: 130px;
                padding: 20px 0 10px 0;
            }
            i{
                padding-right: 6px;
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px){
    body{
        width: auto;
    }

    main{
        width: auto;
    }
    header{
        width: 738px;
        position: fixed;
    }
    main img{
        width: 770px;
    }
    .container__menus{
        flex-direction: column;
        width: auto;
        height: 1400px;
        padding: 0 0 0 20px;
        margin: 0;
        .menu__title{
            font-size: 25px;
            padding: 20px 35px;
        }
    }

    .menu__like .fa-heart{
        padding-left: 50px;
        padding-top: 7px;
        font-size: 30px;
    }
    .menu__starter{
        padding-top: 10px;
        h3{
            font-size: 25px;
        }
    }

    .menu__starter-card {
        width: 600px;
        .menu__plats {
            font-size: 25px;
            width: 500px;
        }
        .menu__plats2 {
            font-size: 25px;
            width: 500px;
        }
        .menu__price {
            font-size: 20px;
        }
        .menu__animation {
            width: 100px;
            height: 100px;
            margin: -4.9rem 0 0 605px;
        }
    }
    .menu__starter-card:hover .menu__plats{
        width: 500px;
    }
    .menu__starter-card:hover .menu__plats2{
        width: 500px;
    }
    .menu__starter-card:hover .menu__price{
        transform: translateX(-200%);
    }
    .menu__starter-card:hover .menu__animation .menu__animation--circle {
        font-size: 27px;
    }

    .menu__dish {
        padding-top: 10px;
        h3{
            font-size: 25px;
        }
    }

    .menu__dish-card {
        width: 600px;
        .menu__plats{
            font-size: 25px;
            width: 500px;
        }
        .menu__plats2{
            font-size: 25px;
            width: 500px;
        }
        .menu__price{
            font-size: 20px;
         }
         .menu__animation{
            width: 100px;
            height: 100px;
            margin: -4.9rem 0 0 605px;
        }
    }
    .menu__dish-card:hover .menu__plats{
        width: 500px;
    }
    .menu__dish-card:hover .menu__plats2{
        width: 500px;
    }
    .menu__dish-card:hover .menu__price{
        transform: translateX(-200%);
    }
    .menu__dish-card:hover .menu__animation .menu__animation--circle {
        font-size: 27px;
    }

    .menu__dessert{
        padding-top: 10px;
        h3{
            font-size: 25px;
        }
    }
    .menu__dessert-card{
        width: 600px;
        .menu__plats{
            font-size: 25px;
            width: 500px;
        }
        .menu__plats2{
            font-size: 25px;
            width: 500px;
        }
        .menu__price{
            font-size: 20px;
        }
        .menu__animation{
            width: 100px;
            height: 100px;
            margin: -4.9rem 0 0 605px;
        }
    }
    .menu__dessert-card:hover .menu__plats{
        width: 500px;
    }
    .menu__dessert-card:hover .menu__plats2{
        width: 500px;
    }
    .menu__dessert-card:hover .menu__price{
        transform: translateX(-200%);
    }
    .menu__dessert-card:hover .menu__animation .menu__animation--circle {
        font-size: 27px;
    }

    .text-3{
        padding: 70px 0;
        input{
            font-size: 30px;
            width: 230px;
        }
    }

    .page-end{
        width: 768px;
        display: flex;
        .end{
            font-size: 25px;
            padding-left: 20px;
            img{
                width: 200px;
                padding: 17px 0 10px 0;
            }
            i{
                padding-right: 6px;
            }
        }
    }
}
