*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: 'Roboto', sans-serif;
    width: auto;
    scroll-behavior: smooth;
}

/* Header -----------*/
header{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    background-color: #FFF;
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 0px 0px 9px 0px #353535;
}
header img{
    width: 200px;
}

header i{
    padding: 40px 50px;
    font-size: 4vh;
    color: #292929;
}
header i:hover{
    background-color: #292929;
    padding: 15px;
    margin: 35px;
    color: white;
    border-radius: 30px;
}
main img{
    width: 70%;
    height: 400px;
}
main .bg-menu{
    display: flex;
    justify-content: center;
}

.container__menus{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    background-color: #f2f2f2;
    height: 400px;
    border-radius: 40px 40px 0 0;
}
.menu__title{
    display: flex;
    flex-direction: row;
    font-family: 'Shrikhand', cursive;
    padding: 10px 0;
}
.menu__title i{
    padding-top: 10px;
    padding-left: 20px;
}

.menu__starter{
    padding-left: 40px;
    padding-top: 20px;
}
.menu__starter h3{
    padding-top: 10px;
    font-weight: 400;
    color: #848484;
}
.menu__starter .fil{
    height: 3px;
    width: 50px;
    background-color: #99e2d0;
}
.menu__starter-card{
    background: white;
    box-shadow: 0px 0px 15px 0px #dcdcdc;
    border-radius: 10px;
    width: 300px;
    padding: 10px 0px 13px 11px;
    margin-top: 30px;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__starter-card p{
    font-weight: 600;
}
.menu__starter-card span{
    padding-top: 10px;
}
.menu__starter-card b{
   float: right;
   margin-right: 20px;
}
.menu__starter-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__starter-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}
.menu__animation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    color: #fff;
    font-size: 20px;
    height: 59px;
    width: 80px;
    border-radius: 0px 10px 10px 0px;
    float: right;
    margin: -2.9rem 0 0 300px;
    transition-duration: .5s;
    transform-origin: right;
    visibility: hidden;
}

.menu__dish{
    padding-left: 40px;
    padding-top: 20px;
}
.menu__dish h3{
    padding-top: 10px;
    font-weight: 400;
    color: #848484;
}
.menu__dish .fil{
    height: 3px;
    width: 50px;
    background-color: #99e2d0;
}
.menu__dish-card{
    background: white;
    box-shadow: 0px 0px 15px 0px #dcdcdc;
    border-radius: 10px;
    width: 300px;
    padding: 10px 0px 13px 11px;
    margin-top: 30px;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__dish-card p{
    font-weight: 600;
}
.menu__dish-card span{
    padding-top: 10px;
}
.menu__dish-card b{
   float: right;
   margin-right: 20px;
}
.menu__dish-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__dish-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.menu__dessert{
    padding-left: 40px;
    padding-top: 20px;
}
.menu__dessert h3{
    padding-top: 10px;
    font-weight: 400;
    color: #848484;
}
.menu__dessert .fil{
    height: 3px;
    width: 50px;
    background-color: #99e2d0;
}
.menu__dessert-card{
    background: white;
    box-shadow: 0px 0px 15px 0px #dcdcdc;
    border-radius: 10px;
    width: 300px;
    padding: 10px 0px 13px 11px;
    margin-top: 30px;
    overflow: hidden;
    animation: fadein 1.2s .3s ease-out both,transform .3s;
}
@keyframes fadein{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.menu__dessert-card p{
    font-weight: 600;
}
.menu__dessert-card span{
    padding-top: 10px;
}
.menu__dessert-card b{
    float: right;
    margin-right: 20px;
}
.menu__dessert-card:hover .menu__animation {
    visibility: visible;
    transition: all .5s ease-in;
    transform: translateX(-100%);
}
.menu__dessert-card:hover .menu__animation .menu__animation--circle {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.text-3{
    display: flex;
    justify-content: center;
    padding: 0 0 40px 0;
    background-color: #f2f2f2;
    margin-top: -20px;
}
.text-3 input{
    font-size: 17px;
    margin-top: 30px;
    width: 180px;
    padding: 15px;
    font-weight: 600;
    color: white;
    border: transparent;
    background-image:linear-gradient(to top, #9356DC, #FF79DA);
    border-radius: 30px;
    box-shadow: 0px 0px 9px 0px #353535;
}
.text-3 input:hover{
    opacity: .8;
    box-shadow: 0px 0px 11px 0px #353535;
}

/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#353535;
    padding: 20px 0 40px 0;
    width: auto;
    color: #FFF;
}
.end img{
    padding-bottom: 10px;
}
.end p{
    padding-top: 10px;
}
.end a{
    text-decoration: none;
    color: #FFF;
}

@media screen and (min-width: 375px) and (max-width: 700px){
    body{
        width: auto;
    }

    main{
        width: auto;
    }
    header{
        width: 345px;
        display: block;
    }
    header i{
        padding: 0 0 70px 10px;
    }
    header img{
        padding: 10px 0 0 60px;
        width: 150px;
    }
    main img{
        width: 375px;
    }

    .container__menus{
        flex-direction: column;
        height: 1100px;
        width: 355px;
        border-radius: 60px 60px 0 0;
        padding: 10px 0 0 20px;
    }
    .menu__title{
        font-size: 20px;
        padding-top: 10px;
    }
    .menu__title i{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 30px;
    }

    .menu__starter{
        padding-left: 0;
    }
    .menu__starter h3{
        font-size: 20px;
        margin: 0;
    }
    .menu__starter-card{
        border-radius: 15px;
        width: 320px;
        margin-top: 20px;
        padding: 13px 10px;
    }
    .menu__starter-card p{
        font-size: 16px;
        margin: 0;
        padding: 5px 0;
    }
    .menu__starter-card span{
        font-size: 14px;
        padding: 10px 0;
    }
    .menu__starter-card b{
       font-size: 16px;
    }

    .menu__dish{
        padding-left: 0;
    }
    .menu__dish h3{
        font-size: 20px;
        margin: 0;
    }
    .menu__dish-card{
        border-radius: 15px;
        width: 320px;
        margin-top: 20px;
        padding: 13px 10px;
    }
    .menu__dish-card p{
        font-size: 16px;
        margin: 0;
        padding: 5px 0;
    }
    .menu__dish-card span{
        font-size: 14px;
        padding: 10px 0;
    }
    .menu__dish-card b{
        font-size: 16px;
    }

    .menu__dessert{
        padding-left: 0;
    }
    .menu__dessert h3{
        font-size: 20px;
        margin: 0;
    }
    .menu__dessert-card{
        border-radius: 15px;
        width: 320px;
        margin-top: 20px;
        padding: 13px 10px;
    }
    .menu__dessert-card p{
        font-size: 16px;
        margin: 0;
        padding: 5px 0;
    }
    .menu__dessert-card span{
        font-size: 14px;
        padding: 10px 0;
    }
    .menu__dessert-card b{
        font-size: 16px;
    }

    .text-3{
        padding: 40px 0;
    }

    .page-end{
        width: 375px;
        margin: 0;
        display: block;
    }
    .page-end .end{
        font-size: 15px;
        padding-left: 20px;
    }
    .page-end .end img{
        width: 130px;
        padding: 20px 0 10px 0;
    }
    .end i{
        padding-right: 6px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px){
    body{
        width: auto;
    }

    main{
        width: auto;
    }
    header{
        width: 738px;
        position: fixed;
    }
    main img{
        width: 700px;
    }
    .container__menus{
        flex-direction: column;
        width: auto;
        height: 1600px;
        padding: 0 0 0 20px;
        margin: 0;
    }
    .menu__title{
        font-size: 25px;
        padding: 20px 35px;
    }
    .menu__title i{
        padding-left: 80px;
        font-size: 25px;
    }

    .menu__starter{
        padding-top: 10px;
    }
    .menu__starter h3{
        font-size: 25px;
    }
    .menu__starter-card{
        width: 600px;
        height: 100px;
    }
    .menu__starter-card p{
        font-size: 25px;
        padding: 15px 15px;
    }
    .menu__starter-card span{
        font-size: 22px;
        padding: 15px 15px;
    }
    .menu__starter-card b{
       font-size: 25px;
    }

    .menu__dish{
        padding-top: 10px;
    }
    .menu__dish h3{
        font-size: 25px;
    }
    .menu__dish-card{
        width: 600px;
        height: 100px;
    }
    .menu__dish-card p{
        font-size: 25px;
        padding: 15px 15px;
    }
    .menu__dish-card span{
        font-size: 22px;
        padding: 15px 15px;
    }
    .menu__dish-card b{
        font-size: 25px;
    }

    .menu__dessert{
        padding-top: 10px;
    }
    .menu__dessert h3{
        font-size: 25px;
    }
    .menu__dessert-card{
        width: 600px;
        height: 100px;
    }
    .menu__dessert-card p{
        font-size: 25px;
        padding: 15px 15px;
    }
    .menu__dessert-card span{
        font-size: 22px;
        padding: 15px 15px;
    }
    .menu__dessert-card b{
        font-size: 25px;
    }

    .text-3{
        padding: 70px 0;
    }
    .text-3 input{
        font-size: 30px;
        width: 230px;
    }

    .page-end{
        width: 768px;
        display: flex;
    }
    .page-end .end{
        font-size: 25px;
        padding-left: 20px;
    }
    .page-end .end img{
        width: 200px;
        padding: 17px 0 10px 0;
    }
    .end i{
        padding-right: 6px;
    }


}
